<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0" *ngFor="let fotos of catalogoShow; index as i">
        <div *ngIf="!Pares">
            <div class="row g-0" *ngIf="i % 2 == 0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ fotos.img }}')" ></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>{{ fotos.titulo }} index: {{ i }}</h2>
                    <p class="lead mb-0">{{ fotos.descricao }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="Pares">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ fotos.img }}')" ></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>{{ fotos.titulo }} index: {{ i }}</h2>
                    <p class="lead mb-0">{{ fotos.descricao }}</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" (click)="clicar()"> {{ button }} </button>
</section>